@font-face {
   font-family: 'Brillia Calligraphy';
   font-display: swap;
   src: url('file:///C:/Users/Erik/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-02_160843/fonts/Brillia%20Calligraphy/font.ttf');
}
